{:licenses [{:name "MIT License" :url "https://opensource.org/license/mit"}]
 :lib me.flowthing/rad
 :description "A small, zero-dependency Redis client for Clojure."
 :version "{{now/yyyy}}-{{now/mm}}-{{now/dd}}.{{git/commit-count}}-alpha"}
